// -----------------------------------------------------------------------------
// This file contains application-wide typography styles.
// -----------------------------------------------------------------------------

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}